@charset "UTF-8";
/*UTF-8 一定要在行數1 */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&Noto+Sans+TC:wght@100..900&display=swap');

/* @import只允許@charset在上面 註解行也會影響*/
@font-face {
    font-family: "Gary Downley Script";
    src: url(../webfonts/GaryDownleyScript_PERSONAL_USE_ONLY.otf)
}

/*如果有套其他css框架 就不用reset免得出錯 */

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加內距與邊框 */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    /* 字體 英文先寫中文後 中文字體設定中英字體名都寫最保險 */
    font-size: 100%;
    line-height: 1.5;
    /* background-color: #8f6b6d; */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    /* 預設inline改為block block才能支援尺寸設定*/
    display: block;
    /* 常設a為display:block  但若有文字超連結*/
    text-decoration: none;
    color: var(--deep);
}

/* 變數 */
:root {
    /* 字 */
    --textdark: ##3F1A09;
    --text: #6B3B20;
    --primary_pink: #F1BFC1;
    --block_brown: #E1CBAA;
    --block_brown-darker: #CCA568;
    --block_brown-op0:rgb(232, 215, 192);
}

/* 標題動態 */
/* 定義動畫 */
@keyframes slide-up {
    0% {
        transform: translateY(400px);
    }

    100% {
        transform: translateY(0);
    }
}

/* 對 div.heading 下的 div 元素應用動畫延遲 */
div.choc>span:nth-child(1),div.olate>span:nth-child(1) {
    animation-delay: 0.0s;
    /* $i * 0.025s = 2 * 0.025s */
}

div.choc>span:nth-child(2),div.olate>span:nth-child(2) {
    animation-delay: 0.67s;
    /* $i * 0.025s = 3 * 0.025s */
}

/* 定義 slide-up 動畫 */
.slide-up {
    animation: slide-up 0.95s cubic-bezier(0.65, 0, 0.35, 1) both ;
}

div.choc>span,div.olate>span{
    display: block;
    
}
div.choc,div.olate {
    width: 43vw;
    height: 500px;
    overflow: hidden;
}

.title_white p:nth-child(2) {
  animation-delay: 0.025s;
}

.title_white p:nth-child(3) {
  animation-delay: 0.05s;
}

.title_white p:nth-child(4) {
  animation-delay: 0.075s;
}

.title_white p:nth-child(5) {
  animation-delay: 0.1s;
}


/* 主要內容共用區*/
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}



section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* RWD語法 */
    /* 用vh 不要用vw不好控制 */

}

.text_all {
    /* 字間距離 */
    letter-spacing: .6vw;
    font-weight: bold;
    font-size: .9vw;
    color: var(--text);
    align-items: self-start;
    font-family: 'Noto+Sans+TC';
    font-weight: 600;
}
/* .text_all {
    transition: transform 0.5s ease; 
}
.text_all:hover {
    transform: translate(-10px, -10px); 
} */

.text1,
.text2,
.text3,
.text4,
.text5 {
    padding: 10px;
}

.cn_title {
    letter-spacing: .2rem;
}


#BANNER {
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/banner---background.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.choc,.olate {
    position: relative;
    width: 100%;
}

.choc .title_white,.olate .title_white {
    position: absolute;
    right: 0.5rem;
    top: -10vh;
    display: flex;
}

.choc .title_br,.olate .title_br {
    position: absolute;
    right: 0.5rem;
}



.banner-content {
    align-items: center;
    display: flex;
    font-family: "Lucida Bright";

}

.banner-content .title_white {
    font-size: 18.2vw;
    text-align: center;
    color: white;


}

.banner-content .title_br {
    z-index: 2;
    font-size: 18.2vw;
    text-align: center;
    color: var(--block_brown);


}


.banner-content .arch {

    z-index: 1;
    width: 380px;
    /* 拱门的宽度 */
    height: 500px;
    /* 拱门的高度，增加底部的拉长效果 */
    background-image: url(../index_images/banner.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    /* 背景颜色 */
    border-radius: 220px 220px 0 0;
    /* 圆角设置成拱门的顶部弧形 */
    overflow: hidden;
    /* 隐藏溢出的部分 */
    margin: 10px auto;
    /* 居中拱门 */

}



.banner-content .arch_wrap {
    position: relative;

}

.banner-content .circle_text {
    position: absolute;
    z-index: 5;
    top: 70%;
    left: 60%;
    width: 65%;
    margin: 0 auto;
    /* 图片居中 */
    display: block;
    /* 将图片作为块级元素 */
    animation: spin 10s linear infinite; 
    /* 启动动画 */
    animation-delay: 0.67s;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        
    }

    100% {
        transform: rotate(360deg);
        
    }
}

#CUSTOMIZED {
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/bg-customized3.svg);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;

}




.cust_item {
    padding-top: 45vh;
    /* left:50%; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.cust_item .step {

    padding: 0 20px;
}

.cust_item a {
    background-image: url(../index_images/btn-pink.png);
}

.btn_diy {


    background-color: var(--primary_pink);
    width: 200px;
    height: 20vh;
    clip-path: polygon(10% 38%, 90% 38%, 100% 50%, 90% 62%, 10% 62%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn_diy .btn_content {
    position: absolute;
    color: white;
    letter-spacing: 2px;
    font-size: 22px;

    /* top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);  */
    z-index: 1;
    text-align: center;

}



#CLASSIC {
    /* height: 60vw; */
    /* width: 100%; */
    height: 50vw;
    position: relative;
    background-image: url(../index_images/bg-w.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-items: center;


}


.classic_left {
    position: absolute;
    left: 0;


}

#CLASSIC .little_bg {

    z-index: 2;
    background-color: var(--block_brown);
    opacity: 0.3;
    width: 60vw;
    height: 21vw;
    margin-left: 18vw;
    margin-top: -6vw;
}

#CLASSIC .circle_title {

    z-index: 1;
    width: 16%;
    margin: 0 auto;
    /* 图片居中 */
    display: block;
    /* 将图片作为块级元素 */
    animation: spin 10s linear infinite;
    margin-left: 12vw;
    margin-top: -10vw;
}

#CLASSIC .class_right {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-right: 10vw;
}

#CLASSIC .class_btn {

    width: 10vw;
    z-index: 5;
}

#CLASSIC .class_btn:hover {
    trans;

}



#CLASSIC .text_all {
    z-index: 5;
    display: flex;
    color: var(--text);
    align-items: self-start;
    font-style: 'Noto+Sans+TC';
    /* margin-top: 20vh; */
    margin-right: 5vw;
    margin-top: -13vw;


}

#CLASSIC .text1,
#CLASSIC .text2,
#CLASSIC .text3,
#CLASSIC .text4 {
    writing-mode: vertical-rl;
    /* 设置文字竖排，从右到左 */
    text-align: start;
    /* 文字对齐 */


}

#CLASSIC .text2,
#CLASSIC .text3 {
    padding-top: 3rem;
}

#CLASSIC .title {
    position: absolute;
    width: 23.5vw;
    margin-left: -22vw;
    margin-top: -11.5vw;

    z-index: 4;

}

#CLASSIC .main_wrap {
    width: 30vw;
}

#CLASSIC .main_pic {

    z-index: 3;
    width: 30vw;
    height: 40vw;

}

#ABOUT {
    position: relative;
    width: 100%;
    height: 50vw;
    background-image: url(../index_images/bg-w.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ABOUT .about_left {
    position: absolute;
    width: 30vw;
    left: 0;
}

#ABOUT .main_pic {

    width: 30vw;
    height: 40vw;
    z-index: 4;
    margin-left: 10.5vw;
}

#ABOUT .about_right {
    position: absolute;
    right: 0;
    margin-right: 13vw;
    display: flex;
    flex-direction: column-reverse;
}

#ABOUT .title {
    width: 23.5vw;
    margin-left: -16vw;
    margin-top: -20vw;

}

#ABOUT .little_bg {

    z-index: 1;
    background-color: rgb(248, 238, 238);
    width: 42vw;
    height: 21vw;
    display: flex;
    justify-content: center;



}

#ABOUT .circle_title {


    width: 12vw;
    margin: 0 auto;
    /* 图片居中 */
    margin-bottom: -6vw;
    display: block;
    /* 将图片作为块级元素 */
    animation: spin 10s linear infinite;
    margin-left: 36vw;

}

#ABOUT .text_all {
    display: flex;
    height: 50vw;
    width: 30vw;
    margin-left: 7vw;
    margin-top: -3vw;
}

#ABOUT .text1,
#ABOUT .text2,
#ABOUT .text3,
#ABOUT .text4,
#ABOUT .text5 {
    writing-mode: vertical-rl;
    /* 设置文字竖排，从右到左 */
    text-align: start;
    height: 100%;
    /* 高度，可以根据需要调整 */

}

#ABOUT .text2,
#ABOUT .text3,
#ABOUT .text4 {
    padding-top: 3rem;
}

#QUALITY {
    position: relative;
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/quality_bg.jpg);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 3.5vw  ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    
}



#QUALITY .pic_box {
    width: 100%;
    height: 100%;
    background-image: url(../index_images/quality_justpic.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    
    /* height: 100%; */
  
    
    

}


#QUALITY .quality_title {
    position: absolute;
    top:20vw;
    font-family: "Lucida Bright";
    font-size: 21.5vw;
    text-align: center;
    color: white;

    
   
   
}
.quality_title span {
    display: inline-block;
    perspective: 600px; /* 透視效果 */
}

.quality_title span.flip {
    animation: flip 1s ease forwards;
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(359deg);
    }
}

#INGREDIENT {
    position: relative;
    width: 100%;
    height: 60vw;
    background-image: url(../index_images/bg-b.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}
.ingredient_l {
    position: absolute;
    z-index: 1;
    left: 0;
    margin-left: 30vw;
    
    
}
#INGREDIENT .title_wrap{
    display: flex;
    
}
#INGREDIENT .title {
    width: 22vw;
    margin-right: -5vw;
    
}

#INGREDIENT .cn_title {
    color: var(--text);
    font-weight: 600;
    font-size: 2vw;
    line-height: 4.5vw;
    font-family: Noto Serif TC;
    height: 20vw;
}
#INGREDIENT .pic {   
    width: 30vw;
}

.ingredient_r {
    position: absolute;
    right: 0;
    margin-right: 27vw;
}
#INGREDIENT .box_br {
    background-color: var(--block_brown-op0);
    width: 18vw;
    height: 18vw;
    margin-top: -18.6vw;
    position: relative;
}

#INGREDIENT .text_all {
    position: absolute;
    display: flex;
    height: 40vw;
    right:-5.8vw;
    top:7vw;
}
#INGREDIENT .text1,
#INGREDIENT .text2,
#INGREDIENT .text3,
#INGREDIENT .text4 {
    writing-mode: vertical-rl;
    /* 设置文字竖排，从右到左 */
    text-align: start;
    /* 文字对齐 */
}

#INGREDIENT .text1 {
    padding-top: 1.5rem;
}
#INGREDIENT .text2,
.text3 {
    padding-top: 3rem;
}

#INGREDIENT .arch {
    position: absolute;
    width: 21vw;
    /* 拱门的宽度 */
    height: 27vw;
    /* 拱门的高度，增加底部的拉长效果 */
    border-radius: 15vw 15vw 0 0;
    /* 圆角设置成拱门的顶部弧形 */
    margin: 10px auto;
    /* 居中拱门 */
    border: white solid 2px;
    transform: scaleY(-1);
    right:-6vw;
    top:5vw;
}

#TASTE {
    position: relative;
    width: 100%;
    height: 60vw; 
    background-image: url(../index_images/bg-b.png); 
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}

.taste_l{
position: absolute;
left: 0;
display: flex;
flex-direction: row-reverse;
width: 30vw;
top:3vw;
}

#TASTE .box_br {
    background-color: var(--block_brown-op0);
    width: 14vw;
    height:  14vw;
    margin-left: -5vw;
}

#TASTE .cn_title {
    
    font-family: Noto Serif TC;
    color: var(--text);
    font-weight: 600;
    font-size: 2vw;
    writing-mode: vertical-rl;
    /* 设置文字竖排，从右到左 */
    text-align: start;
    /* 文字对齐 */
    height: 24vw;
    /* 高度，可以根据需要调整 */
    margin-top: -1vw;
    margin-left: 1.8vw;

}


#TASTE .arch {
    position: absolute;
    width: 21vw;
    /* 拱门的宽度 */
    height: 27vw;
    /* 拱门的高度，增加底部的拉长效果 */
    border-radius: 15vw 15vw 0 0;
    /* 圆角设置成拱门的顶部弧形 */
    margin: 10px auto;
    /* 居中拱门 */
    border: white solid 2px;
    margin-left: 6vw;
    margin-top: -1vw;


}

#TASTE .text_all {
    z-index: 5;
    position: absolute;
    display: flex;
    width: 400px;
    height: 50vw;
    color: var(--text);
    margin-left: 11vw;
    margin-top: 5vw;

}

#TASTE .text1,
#TASTE .text2,
#TASTE .text3,
#TASTE .text4 {
    writing-mode: vertical-rl;
    /* 设置文字竖排，从右到左 */
    text-align: start;
    /* 文字对齐 */
    /* border: 1px solid black;   边框，方便查看效果 */
    height: 100%;
   
}

#TASTE .text2,
#TASTE .text3 {
    padding-top: 3rem;
}

#TASTE .text4 {
    padding-top: -3rem;
}

.taste_r{
    position: absolute;
    right: 30vw;
}
#TASTE .title {
    width: 24vw;
    margin-top: 10vw;
    margin-bottom: -11vw;
    margin-left: 15vw;
}


#TASTE .pic {
    width: 30vw;
    margin-top: 4vw;
}

#APPERANCE {
    position: relative;
    width: 100%;
    /* height: 100%; */
    /* background-color: #CCA568; */
    background-image: url(../index_images/appearance--bg.jpg);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: bottom center;
}

#APPERANCE .title {
    position: absolute;
    z-index: 6;
    width: 350px;
    left: 20vw;
    top: 55vh;
}

#APPERANCE .pic {
    position: absolute;
    z-index: 5;
    width: 40vw;
    left: 30vw;
    top: 65vh;

}

#APPERANCE .box_br {
    position: absolute;
    z-index: 4;
    background-color: var(--block_brown-op0);
    opacity: 0.3;
    width: 250px;
    height: 250px;
    top: 40vh;
    right: 20vw;
}

#APPERANCE .cn_title {
    position: absolute;
    z-index: 6;
    right: 45vh;
    top: 20vh;
    font-family: Noto Serif TC;
    color: var(--text);
    font-weight: 600;
    font-size: 2rem;
    writing-mode: vertical-rl;
    /* 设置文字竖排，从右到左 */
    text-align: start;
    /* 文字对齐 */
    height: 100%;
    /* 高度，可以根据需要调整 */

}


#APPERANCE .arch {
    position: absolute;
    z-index: 5;
    width: 250px;
    /* 拱门的宽度 */
    height: 370px;
    /* 拱门的高度，增加底部的拉长效果 */
    right: 35vw;
    top: 35vh;

    text-align: center;
    background-repeat: no-repeat;
    /* 背景颜色 */
    border-radius: 220px 220px 0 0;
    /* 圆角设置成拱门的顶部弧形 */
    overflow: hidden;
    /* 隐藏溢出的部分 */
    margin: 10px auto;
    /* 居中拱门 */
    border: white solid 2px;



}

#APPERANCE .text_all {
    z-index: 5;
    position: absolute;
    top: 10vh;
    right: 20vw;
    display: flex;
    width: 400px;
    height: 100%;
    color: var(--text);
    font-size: 1rem;
    align-items: flex-start;
    font-style: 'Noto+Sans+TC';
    font-weight: 400;

}

#APPERANCE .text1,
#APPERANCE .text2,
#APPERANCE .text3,
#APPERANCE .text4,
#APPERANCE .text5 {
    writing-mode: vertical-rl;
    /* 设置文字竖排，从右到左 */
    text-align: start;
    /* 文字对齐 */
    /* border: 1px solid black;   边框，方便查看效果 */
    padding: 10px;
    /* 内边距 */
    height: 100%;
    /* 高度，可以根据需要调整 */
    width: 50px;
}

#APPERANCE .text2,
.text3 {
    padding-top: 3rem;
}

#APPERANCE .text4 {
    padding-top: -3rem;
}

.bottom {
    width: 100%;
    background-image: url(../index_images/bg_bottom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 584px;

}

.bottom_content {
    align-items: start;
    justify-content: start;


}