@charset "UTF-8";
/*UTF-8 一定要在行數1 */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&Noto+Sans+TC:wght@100..900&display=swap');

/* @import只允許@charset在上面 註解行也會影響*/
@font-face {
    font-family: "Gary Downley Script";
    src: url(../webfonts/GaryDownleyScript_PERSONAL_USE_ONLY.otf)
}

/*如果有套其他css框架 就不用reset免得出錯 */

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加內距與邊框 */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    /* 字體 英文先寫中文後 中文字體設定中英字體名都寫最保險 */
    font-size: 100%;
    line-height: 1.5;
    /* background-color: #8f6b6d; */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    /* 預設inline改為block block才能支援尺寸設定*/
    display: block;
    /* 常設a為display:block  但若有文字超連結*/
    text-decoration: none;
    color: var(--deep);
}

/* 變數 */
:root {
    /* 字 */
    --textdark:##3F1A09;
    --text:#6B3B20;
    --primary_pink:#F1BFC1;
    --block_brown:#E1CBAA;
}

/* 共用區 */

#topbar {
    width: 100%;
    z-index: 999;
    position: fixed;
    align-items: center;
}

.icon-member {
    background-image: url(../index_images/member.svg);
    background-size: cover;
}

.icon-car {
    background-image: url(../index_images/car.svg);
    background-size: cover;
}

.icon-search {
    background-image: url(../index_images/search.svg);
    background-size: cover;
}




.navigation {
    height: 50px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.navigation .menu {
    display: flex;
    /* padding: 20px 40px; */
    align-items: center;
    font-size: 1.0rem;
    /* padding: 0 10px; */

}

.navigation .menu a {
    padding: 0 12px;
    font-weight: 500;
    color: var(--textdark);
}

.navigation .icon {
    align-items: center;
    display: flex;

}

.navigation .icon a {
    /* display:block;時設定a的尺寸才有用 */
    width: 25px;
    height: 25px;

}

.customized-btn {
    
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;


}

/* 主要內容共用區*/
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: transparent;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* RWD語法 */
    /* 用vh 不要用vw不好控制 */

}

#BANNER {
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/banner---bg.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position:center;
}

.banner-content {
align-items: center;
position: relative;
}


.banner-content .arch {
    
    z-index:1;
    width: 380px;
    /* 拱门的宽度 */
    height: 500px;
    /* 拱门的高度，增加底部的拉长效果 */
    background-image: url(../index_images/banner.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    /* 背景颜色 */
    border-radius: 220px 220px 0 0;
    /* 圆角设置成拱门的顶部弧形 */
    overflow: hidden;
    /* 隐藏溢出的部分 */
    margin: 10px auto;
    /* 居中拱门 */
    
}

.banner-content .arch img{
    z-index: 5;
    position: absolute;
    top:75%;
    left:60%;
    width: 260px;
    margin: 0 auto; /* 图片居中 */
    display: block; /* 将图片作为块级元素 */
    animation: spin 10s linear infinite; /* 启动动画 */
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#CUSTOMIZED {
    
    
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/bg-customized3.svg);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position:center;
 
}




.cust_item{
    padding-top: 390px;
    /* left:50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cust_item .step{
    
    padding: 0 20px ;
}

.cust_item a {
    background-image: url(../index_images/btn-pink.png);
}

.btn_diy {
    
    
    background-color: var(--primary_pink);
    width: 200px;
    height:180px;
    clip-path: polygon(10% 38%, 90% 38%, 100% 50%, 90% 62%, 10% 62%, 0% 50%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn_diy .btn_content {
    position:absolute;
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    
    /* top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);  */
    z-index:1;
    text-align: center;
    
}


#CLASSIC {
    position: relative;
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/bg-w.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position:center;
}

.little_bg {
    position: absolute;
    z-index: 2;
    background-color: var(--block_brown);
    opacity: 0.3;
    width: 1000px;
    height: 400px;
    top:280px;
    left:280px;
}

.circle_title{
    position: absolute;
    z-index: 1;
    top:150px;
    left:150px;
    width: 260px;
    margin: 0 auto; /* 图片居中 */
    display: block; /* 将图片作为块级元素 */
    animation: spin 10s linear infinite; 
}

.title{
    width: 400px;
    position: absolute;
    z-index: 4;
    right:660px;
    top:680px;
}

.main_pic{
    position: absolute;
    z-index: 3;
    width: 570px;
    right:150px;
    top:200px;
}

#ABOUT {
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/bg-w.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position:center;
}
#QUALITY {
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/bg-quality.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position:center;
}
#INGREDIENT {
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/bg-b.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position:center;
}
#TASTE {
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/bg-b.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position:center;
}
#APPERANCE {
    width: 100%;
    /* height: 100%; */
    background-image: url(../index_images/bg-b.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position:center;
}
