@charset "UTF-8";
/* 重置所有標籤的樣式 */
/* 『*』代表所有標籤的意思 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 不累加內距paddin與邊框 border*/
}

/* 重置字體 */
body {
  font-family: "Inter", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #3F1A09;
  font-weight: 600;
  height: 100%;
  /* background-color: rgb(116, 107, 95); */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* 重置連接 */
a {
  text-decoration: none;
  color: #3F1A09;
}

.background {
  position: relative;
  height: 100%;
}
.background::before {
  content: "";
  background-image: url("../imge/paper.png");
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.menu {
  width: 100vw;
  height: 15vh;
  padding: 2.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.menu #list_opening {
  display: none;
}
.menu .list_logo {
  display: none;
}
.menu label {
  display: none;
}
.menu label svg {
  width: 50px;
}
.menu .menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu_list .menu_list_item {
  margin: 0 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.menu .menu_list .menu_list_item:hover {
  color: #F1BFC1;
}
.menu .menu_list #customized {
  padding: 0.5rem 2rem;
  border-radius: 20%/50%;
  color: white;
  background-color: #6B3B20;
  text-align: center;
}
.menu .menu_list #customized p {
  font-weight: 700;
}
.menu .menu_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}
.menu .menu_icon .menu_icon_item {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5rem;
}

.main {
  height: 90vh;
}
.main .half-circle {
  background-image: url("../imge/Half-circle.png");
  background-size: cover;
  height: inherit;
}
.main .half-circle .title {
  margin: 0 0 0 5rem;
  font-family: "Noto Serif TC", serif;
}
.main .half-circle .title h1 {
  font-size: 2.5rem;
  letter-spacing: 4px;
  color: #CFB286;
}
.main .half-circle .title h3 {
  margin-left: 6.5rem;
  font-size: 1.75rem;
}
.main .half-circle .title .rectangle {
  width: 11vw;
  height: 5vh;
  z-index: -1;
  position: absolute;
  top: 140px;
  left: 100px;
}
.main .half-circle .login_box {
  background-color: white;
  width: 28vw;
  height: 65vh;
  margin: auto;
  border-radius: 5px;
  padding: 75px 20px;
}
.main .half-circle .login_box .box_item {
  width: 80%;
  height: 6vh;
  margin: 16px auto;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .half-circle .login_box .key {
  border: 2px #E1CBAA solid;
}
.main .half-circle .login_box .key input {
  border: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #CFB286;
}
.main .half-circle .login_box .key input:focus {
  outline: none;
  /* 取消焦點輪廓 */
  box-shadow: none;
  /* 取消陰影效果 */
}
.main .half-circle .login_box .key input::placeholder {
  color: #CFB286;
  font-weight: 700;
}
.main .half-circle .login_box .links_box {
  margin: auto;
  text-align: end;
  width: 80%;
}
.main .half-circle .login_box .links_box .link_item {
  margin: 0 8px;
  font-size: 1rem;
  color: #6B3B20;
}
.main .half-circle .login_box .links_box .link_item:last-child {
  margin-right: 0;
}
.main .half-circle .login_box .button {
  background-color: #F1BFC1;
  border: none;
  color: white;
  font-family: "Noto Serif TC", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.main .half-circle .login_box .horizon {
  color: #E1CBAA;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .half-circle .login_box .horizon .horizon_line {
  display: inline-block;
  width: 40%;
  height: 1px;
  border-color: #E1CBAA;
}
.main .half-circle .login_box .horizon .horizon_text {
  display: inline;
  margin: 0 1rem;
}
.main .half-circle .login_box .another_key {
  border: 2px #E1CBAA solid;
  flex-direction: row;
  align-self: center;
}
.main .half-circle .login_box .another_key i {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 830px;
}

.main .half-circle .login_box .another_key p {
  color: #6B3B20;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 16px;
  font-family: "Noto Serif TC", sans-serif;
  
}

